<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript">
      (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
          y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
      })(window, document, "clarity", "script", "pggpmp6mtl");
  </script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="min-h-screen bg-gray-900 flex flex-col">
    <div id="toast-success" class="fixed top-4 right-4 hidden z-50 flex items-center p-4 w-80 mb-4 text-sm font-medium text-white bg-green-600 rounded-lg shadow-lg" role="alert">
      <svg aria-hidden="true" class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
          <path d="M4.293 9.293a1 1 0 011.414 0L10 13.586l4.293-4.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414z"></path>
      </svg>
      <span id="toast-message-success"></span>
      <button id="toast-close" class="ml-3 text-white bg-transparent hover:bg-gray-200 rounded-full p-1.5 focus:outline-none focus:ring-2 focus:ring-white">
          <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
          </svg>
      </button>
  </div>

  <div id="toast-error" class="fixed top-4 right-4 hidden z-50 flex items-center p-4 w-80 mb-4 text-sm font-medium text-white bg-red-600 rounded-lg shadow-lg" role="alert">
    <svg aria-hidden="true" class="w-5 h-5 mr-2" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path d="M4.293 9.293a1 1 0 011.414 0L10 13.586l4.293-4.293a1 1 0 111.414 1.414l-5 5a1 1 0 01-1.414 0l-5-5a1 1 0 010-1.414z"></path>
    </svg>
    <span id="toast-message-error"></span>
    <button id="toast-close" class="ml-3 text-white bg-transparent hover:bg-gray-200 rounded-full p-1.5 focus:outline-none focus:ring-2 focus:ring-white">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
    </button>
</div>

  
    <div class="grid px-4 pt-6 dark:bg-gray-900">
      <!-- Right Content -->
      <div class="col-span-full xl:col-auto">
        <div
          class="p-4 mb-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2 dark:border-gray-700 sm:p-6 dark:bg-gray-800"
        >
          <div
            class="items-center sm:flex xl:block 2xl:flex sm:space-x-4 xl:space-x-0 2xl:space-x-4"
          >
            <img
              class="mb-4 rounded-lg w-28 h-28 sm:mb-0 xl:mb-4 2xl:mb-0"
              src="/images/logo.png"
              alt="Logo"
            />
            <div>
              <h3 class="mb-1 text-xl font-bold text-gray-900 dark:text-white">
                Rafiki Launch Pad
              </h3>
              <div class="mb-4 text-sm text-gray-500 dark:text-gray-400">
                Create Rafiki Instances Instantly. This is a tool that
                simplifies spinning up an ILP Rafiki instance for developers,
                organizations, and enthusiasts!
              </div>
              <div class="flex items-center space-x-4">
                <a href="mailto:collinshillary1@gmail.com"
                ><button
                  type="button"
                  class="py-2 px-3 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
                >
                  Email Builder
                </button>
              </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-span-2"></div>
    </div>
    <div class="grid px-4 pt-6 xl:gap-4 dark:bg-gray-900">
      <div class="flex items-center space-x-2">
        <!-- Back Button -->
        <a href="/" class="flex items-center text-gray-900 dark:text-white hover:text-gray-700 dark:hover:text-gray-300">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 12H5" />
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5l-7 7 7 7" />
            </svg>
            <span class="ml-2 text-xl font-semibold">Back</span>
        </a>
    </div>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!-- Form Section (Left Side) -->
        <div
          class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 dark:bg-gray-800"
        >
          <h3 class="mb-4 text-xl font-semibold text-gray-900 dark:text-white">
            General Information
          </h3>
          <form action="#" id="instanceForm" oninput="updateSummary()">
            <div class="grid grid-cols-6 gap-6">
              <div class="col-span-6 sm:col-span-3">
                <label
                  for="instance-name"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Instance Name</label
                >
                <input
                  type="text"
                  id="instanceName"
                  name="instanceName"
                  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  placeholder="Instance Name"
                  pattern="^[a-zA-Z]+[a-zA-Z0-9]*(?:[-_][a-zA-Z0-9]+)*$"
                  title="Instance Name must be alphanumeric and words must be joined by '-' or '_' only."
                  required
                
                />
                <p id="error-message" class="text-sm text-red-600 mt-1 hidden">Invalid format. Use alphanumeric characters separated by '-' or '_'.</p>
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label
                  for="instance-webhook"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Webhook URL</label
                >
                <input
                  type="text"
                  id="instanceWebhookURL"
                  name="instanceWebhookURL"
                  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  placeholder="https://your-webhook-url.com"
                  required
                />
              </div>
              <div class="col-span-6 sm:col-span-3">
                <label
                  for="instance-exchange-rate-url"
                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                  >Exchange Rates URL</label
                >
                <input
                  type="text"
                  id="instanceExchangeRateURL"
                  name="instanceExchangeRateURL"
                  class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                  placeholder="https://your-exchange-rate-url.com"
                  required
                />
              </div>
              
              
            </div>
          </form>
        </div>

        <!-- Summary Section (Right Side) -->
        <div
          class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm dark:border-gray-700 dark:bg-gray-800"
        >
          <h3 class="mb-4 text-xl font-semibold text-gray-900 dark:text-white">
            Instance Summary
          </h3>
          <div class="space-y-4">
            <div>
              <p class="font-medium text-gray-900 dark:text-white">
                Instance Name
              </p>
              <p
                id="summary-instance-name"
                class="text-sm text-gray-600 dark:text-gray-300"
              >
                —
              </p>
            </div>
            <div>
              <p class="font-medium text-gray-900 dark:text-white">
                Webhook URL
              </p>
              <p
                id="summary-instance-webhook"
                class="text-sm text-gray-600 dark:text-gray-300"
              >
                —
              </p>
            </div>
            <div>
              <p class="font-medium text-gray-900 dark:text-white">Exchange Rates URL</p>
              <p
                id="summary-instance-exchange-rate-url"
                class="text-sm text-gray-600 dark:text-gray-300"
              >
                —
              </p>
            </div>

            <!-- Submit Button in Summary -->
            <div class="mt-6">
              <button
                type="button"
                id="createInstanceButton"
                class="w-full py-2 px-4 text-sm font-medium text-white rounded-lg focus:ring"
                style="background-color: rgba(100, 174, 170, 1);"
                disabled
              >
                Create Instance
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
  <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/simple-datatables@9.0.3"></script>
  <script src="/javascripts/new_instance.js"></script>
</html>
